.card {
  text-align: left;
}

.card-title {
  text-align: center;
}

.card-group {
  margin-top: 10px;
  max-width: 50%;
  align-items: center;
  align-content: center;
}

.card-group .card-img-top {
  max-width: 500px;
  max-height: 500px;
}

.card-text {
  text-align: center;
}

.bold_text {
  font-weight: bold;
}