<!-- templates/404.html -->

{% extends "base.html" %}

{% block content %}


<h1 class="col-sm-12 col-sm-offset-1 page_404_h1 text-center">Page Not Found</h1>
<section class="page_404">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 ">
        <div class="col-sm-12 col-sm-offset-1  text-center">
          <div class="four_zero_four_bg rounded">
            <h1 class="text-center " style="color: black;">404</h1>

          </div>

          <div class="contant_box_404">
            <h3 class="h2">
              Look like you're lost
            </h3>

            <p>the page you are looking for not avaible!</p>

            <a href="{{ url_for('views.index') }}" class="btn btn-primary">Come Home &#127969</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}