{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="column is-4 is-offset-4">
        <h3 class="title">Edit Profile</h3>
        <div class="box">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}
                    </div>
                {% endif %}
                {% endwith %}
            
            {{ wtf.quick_form(form) }}
        </div>
    </div>
{% endblock %}