<!-- templates/profile.html -->

{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-4">
      <!--
        User Profile
      -->
      <div class="card" style="width: 18rem;">
        {% if img %}
        <img src="data:image/jpeg;base64, {{ img }}" class="card-img-top">
        {% else %}
        <img src="{{ url_for('static', filename='images/default_img.png') }}" class="card-img-top">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ user.full_name }}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="bold_text">Phone number: </span>{{ user.phone_number }}</li>
          <li class="list-group-item"><span class="bold_text">State: </span>{{ user.state }}</li>
          <li class="list-group-item"><span class="bold_text">City: </span>{{ user.city }}</li>
          <li class="list-group-item"><span class="bold_text">Gender: </span>{{ user.gender }}</li>
          <li class="list-group-item"><span class="bold_text">Profession: </span>{{ user.profession }}</li>
          <li class="list-group-item"><span class="bold_text">Addition details: </span>{{ user.addition_details }}</li>
        </ul>
          <div class="card-body">
            <li class="list-group-item"><span class="bold_text">Actions: </span>
              <a href="/edit_profile" class="card-link btn btn-secondary btn-sm">
                Edit
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-pen" viewBox="0 0 16 16">
                  <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 
                  1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 
                  0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 
                  .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 
                  1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 
                  0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                </svg>
              </a>
          </div>
      </div>
    </div>
    <!--
      Cars Profiles
    -->
    <div class="col-md-8">
      {% for i in range(num_of_cars) %}
      <div class="card-group">
        <div class="card">
          <img src="{{ url_for('static', filename='images/car' + (i+1)|string + '.jpg') }}" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Car number {{ (i+1)|string }}</h5>
            <ul class="list-group list-group-flush">
            </ul>
            <li class="list-group-item"><span class="bold_text">Brand: </span></li>
            <li class="list-group-item"><span class="bold_text">Model: </span></li>
            <li class="list-group-item"><span class="bold_text">Edition: </span></li>
            <li class="list-group-item"><span class="bold_text">Year: </span></li>
            <li class="list-group-item"><span class="bold_text">Condition: </span></li>
            <li class="list-group-item"><span class="bold_text">Transmission: </span></li>
            <li class="list-group-item"><span class="bold_text">Body: </span></li>
            <li class="list-group-item"><span class="bold_text">Fuel: </span></li>
            <li class="list-group-item"><span class="bold_text">Capacity: </span></li>
            <!-- Add logic to check if car is available or not -->
            <p class="card-text"><small class="text-muted">Available</small></p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}