<!-- templates/search.html -->

{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<h1 class="title">
  Search Vehicle
</h1>
<div class="column is-4 is-offset-4">
  <h3 class="title">Edit Profile</h3>
  <div class="box">
      {% with messages = get_flashed_messages() %}
          {% if messages %}
              <div class="notification is-danger">
                  {{ messages[0] }}
              </div>
          {% endif %}
          {% endwith %}
      
      {{ wtf.quick_form(form) }}
      {% for vehicle in vehicles %}
        <button onclick="location.href = '/search/{{ vehicle.id }}';">vehicle id:{{ vehicle.id }}</button>
      {% endfor %}
  </div>
</div>
{% endblock %}