<!-- templates/search.html -->

{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<h1 class="title">
  Search Vehicle
</h1>
<div class="column is-4 is-offset-4">
  <h3 class="title">Edit Profile</h3>
  <div class="box">
      {% with messages = get_flashed_messages() %}
          {% if messages %}
              <div class="notification is-danger">
                  {{ messages[0] }}
              </div>
          {% endif %}
          {% endwith %}
      
          <form class="form form-inline" method="post" role="form"> 
          </h1>	    <table style:hight="5">
          
              {{ form.hidden_tag() }}
          
                <tr>
                {% for subfield in form %}
                <td>
                  {{ wtf.form_field(subfield, placeholder=subfield.name) }}
                </td>
                {% endfor %}
              </tr>
              </table>
            </form>
          
          <table class ="search_table" id="datatable">
            <thead>
              <tr>
                {% for header in search_headers %}
                <th class ="search_th">{{ header }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
            {% for row in data %}
            <tr class ="search_tr">
              <td>     {{row.brand}}</td>
              <td>     {{row.model}}</td>
              <td>     {{row.year}}</td>
              <td>     {{row.price}}</td>
              <td>     {{row.condition}}</td>
              <td>     {{row.transmission}}</td>
              <td>     {{row.km_driven}}</td>
              <td>     {{row.fuel}}</td>
              <td>     {{row.capacity}}</td>
            </tr>
            {% endfor %}
          </tbody>
          </table>
      
      {% for vehicle in vehicles %}
        <button onclick="location.href = '/search/{{ vehicle.id }}';">vehicle id:{{ vehicle.id }}</button>
      {% endfor %}
  </div>
</div>
{% endblock %}